/* картинка карта контент */
.img_content {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.ava_profile {
    width: 8%;
    height: 8%;
}

.discription_block{
    padding: 10px;
}

.post_block{
    padding: 10px;
}

/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */
/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */
/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */
/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */
/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */
/* ЭТИ СТИЛИ В УРОКЕ УДАЛЕНЫ */