.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    
}

.dialogsItem {
    padding: 10px;

}

.dialogsItem .active{
    color:khaki
}

.dialog {
    padding: 10px;
    
}

.messages {
    padding: 10px;
    color: white;

}